.app {
  min-height: 100vh;
  background-image: url(../../img/background.jpg);
  background-size: cover;
  display: grid;
  column-gap: 10px;
  place-content: center;
  grid-template-columns: 0px 1fr 0px;

  > * {
    grid-column: 2;
  }

  > .full {
    grid-column: 1 / -1;
  }

  .main-container {
    background: #fff;
    margin: 10px 0;
    padding: 0.8em;
    border-radius: 4px;
    flex-direction: column-reverse;
    min-height: 600px;
    @include for-normal-layout {
      flex-direction: row;
    }
  }
  .loading-container {
    background: #fff;
    margin: 10px 0;
    text-align: center;
    padding-top: 20px;
    p {
      line-height: 1.5;
      margin: 20px;
    }
  }

  @include for-narrow-layout {
    grid-template-columns:
      1fr
      minmax(auto, $mobile-breakpoint)
      1fr;
  }

  @include for-normal-layout {
    grid-template-columns:
      1fr
      minmax(auto, $normal-breakpoint - 200)
      1fr;
  }

  @include for-wide-layout {
    grid-template-columns:
      1fr
      minmax(auto, $normal-breakpoint)
      1fr;
  }
}
