@mixin limit-list($count) {
  button:nth-child(#{$count + 2}) {
    pointer-events: none;
    path {
      stroke: rgb(119, 119, 119);
    }
  }
  .character-preview:nth-child(n + 2) {
    display: flex;
  }
  .character-preview:nth-child(n + #{$count + 2}) {
    display: none;
  }
}

.character-list {
  justify-content: space-evenly;

  button {
    background: #fff;
    border: none;
    outline: none;
    padding: 0.5em;
    border-radius: 50%;

    &.disabled {
      pointer-events: none;
      path {
        stroke: rgb(119, 119, 119);
      }
    }
  }

  @include limit-list(2);
  @media (min-width: 400px) {
    @include limit-list(3);
  }
  @media (min-width: 800px) {
    @include limit-list(4);
  }
  @media (min-width: 900px) {
    @include limit-list(5);
  }
}
