.character-list {
  justify-content: space-evenly;

  button {
    background: #fff;
    border: none;
    outline: none;
    padding: 0.5em;
    border-radius: 50%;

    &.disabled {
      pointer-events: none;
      path {
        stroke: rgb(119, 119, 119);
      }
    }
  }

  // Limit the number of characters shown, according to device width:
  // nth-child(n + 4) => elements that are the 4th child or higher - will also select 5th,6th,7th...
  button:nth-child(4) {
    pointer-events: none;
    path {
      stroke: rgb(119, 119, 119);
    }
  }

  .character-preview:nth-child(n + 4) {
    display: none;
  }

  @media (min-width: 500px) {
    button:nth-child(5) {
      pointer-events: none;
      path {
        stroke: rgb(119, 119, 119);
      }
    }

    .character-preview:nth-child(n + 2) {
      display: flex;
    }

    .character-preview:nth-child(n + 5) {
      display: none;
    }
  }

  @include for-wide-layout {
    button:nth-child(8) {
      pointer-events: none;
      path {
        stroke: rgb(119, 119, 119);
      }
    }

    .character-preview:nth-child(n + 2) {
      display: flex;
    }

    .character-preview:nth-child(n + 8) {
      display: none;
    }
  }
}
