// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  > *.grow {
    flex-grow: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fw-400 {
  font-weight: 400;
}
