body {
  font-family: Roboto, sans-serif;
  color: $clr-dark-1;
  font-size: rem(14px);
  @include for-normal-layout {
    font-size: 1rem;
  }
}

h2 {
  font-weight: 700;
  margin: 10px 0;
  line-height: 1.5;
  font-size: 2em;
  text-shadow: 0 0 1px #cacaca;
}

h3 {
  font-weight: 700;
  line-height: 1.5;
  margin: 10px 0;
}
