body {
  font-family: Roboto, sans-serif;
  color: $clr-dark-1;
}

h2 {
  font-weight: 700;
  margin: 10px 0;
  font-size: 2em;
  text-shadow: 0 0 1px #cacaca;
}

h3 {
  font-weight: 700;
  margin: 10px 0;
}
