// Colors
$clr-primary-1: #bdb2ff;
$clr-primary-2: #e2ddff;
$clr-primary-3: #9c8bff;
$clr-secondary-1: #fff894;
$clr-secondary-2: #fffab8;
$clr-dark-1: #0b0d17;
$clr-light-1: #ffffff;
$clr-light-2: #dedede;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1100px;
